.main {
  margin-top: 2em;
  background: transparent;
}

.channelAdd {
  display: flex;
  align-items: center;
  align-content: center;
  padding: 1.5em;
  margin: 0 1em 0 1em;

  cursor: pointer;

  border-width: 2px;
  border-style: solid;
  border-color: $borderLightAccent;
  border-radius: 0.5em;

  svg {
    flex: 1;
    fill: $borderLightAccent;
    font-size: 3em;
    font-weight: lighter;
    color: $contentPrimary;
  }

  &:hover {
    border-color: $accent;
    svg {
      fill: $accent;
    }
  }
}
