.form {
  padding: 2em 1em 1em 1em;

  display: flex;
  flex-direction: column;

  gap: 2em;

  label,
  .label {
    color: $contentSecondary;
    font-size: 1em;
    text-align: left;
  }

  input,
  textarea,
  button {
    font-size: 1em;
  }

  .editorWrap {
    display: block;
    width: auto;
    height: 100%;

    margin-top: 0.35em;

    border: 2px solid $contentSecondary;
    border-radius: 0.75rem;

    .menu {
      border-bottom: 2px solid $contentSecondary;

      padding: 0.25em 0.5em;

      display: flex;

      gap: 0.1em;

      .divider {
        // display: block;
        width: 2px;
        background-color: $borderOpaque;
        margin: 0 0.15em;
      }

      button {
        border: none;
        background: none;
        font-size: 1.2em;
        font-weight: bold;
        cursor: pointer;
        color: $contentPrimary;
        padding: 0.2em 0.5em;
        border-radius: 3px;

        &:hover,
        &:active,
        &.active {
          background: $contentPrimary;
          color: $backgroundPrimary;
        }
      }

      transition: all ease 0.2s;
    }

    // editor area
    .editArea {
      padding: 0.5em 1em;
      max-height: 20em;
      min-height: 8em;
      overflow-y: scroll;

      transition: all ease 0.2s;

      // .ProseMirror
      > div {
        min-height: 8em;
        outline: none;

        li {
          list-style: circle;
        }
      }
    }

    &:hover,
    &:active {
      border-color: $contentPrimary;
      .menu {
        border-bottom-color: $contentPrimary;
      }
    }

    transition: all ease 0.2s;
  }

  .nth_info {
    padding-right: 0.25em;
    font-size: 0.85em;
    display: block;
    width: 15em !important;
    color: $contentSecondary;
    text-align: right;
  }

  .buttons {
    display: flex;
    justify-content: center;

    margin: 2em 0 1em 0;

    button {
      width: 50% !important;
      border-radius: 4px !important;
    }
  }
}
