.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  display: block;
  border-radius: 50%;

  &.primary {
    border: 3px solid $contentPrimary;
    border-left-color: transparent;
  }

  &.secondary {
    border: 3px solid $contentSecondary;
    border-left-color: transparent;
  }

  &.accent {
    border: 3px solid $borderAccent;
    border-left-color: transparent;
  }

  &.lg {
    width: 2em;
    height: 2em;
  }

  &.md {
    width: 1.4em;
    height: 1.4em;
  }

  &.sm {
    width: 0.8em;
    height: 0.8em;
  }
  &.xs {
    width: 0.6em;
    height: 0.6em;
  }

  animation: spin 1.5s linear infinite;
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
