.title {
  padding: 2px 8px;
  border-left: 2px solid $backgroundTertiary;
  margin-bottom: 12px;

  >p {
    &:first-child {
      font-size: 16px;
      line-height: 24px;
      color: $contentPrimary;
      margin-bottom: 6px;
      font-weight: bold;
    }
    &:last-child {
      font-size: 14px;
      line-height: 21px;
      color: $contentSecondry;
    }
  }
}

.textArea {
  width: 100%;
  textarea {
    font-size: 16px;
  }
}

.error {
  color: $negative;
  font-size: 14px;
}

.sendBtn {
  bottom: 48px;
  right: 18px;
  @include responsive(lg) {
    right: calc(50vw - 330px);
  }
  z-index: 99;
  padding: 12px 13px;

  >i {
    font-size: 28px;
  }

  >div {
    padding: 7px 6px;
  }
}